*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#7849a7;
    --secondary-color:rgb(26, 26, 26);
    --secondary-color2:rgb(0, 0, 0);
    --text-color:rgb(255, 255, 255);
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Rubik', sans-serif;
    position: relative;
}
/* Header starts here */
.header{
    width:100%;
    height: 10vh;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    padding: 0px 50px;
    color: var( --text-color);
    justify-content: space-between;
    position: relative;
    box-shadow: 0px 0px 8px var(--secondary-color2);
}
.logoSection{
    display: flex;
    align-items: center;
}
.logoImg{
    width:50px;
    height: 50px; 
    margin-right: 6px; 
}
.searchSection{
    display: flex;
    align-items: center;
}
.searchGroup{
    display: flex;
    align-items: center;
    height: 38px;
    display: none;
    margin-right: 16px;
}
.searchIcon{
    font-size: 22px !important;
    background-color:var(--primary-color);
    padding: 9px;
    border-radius: 0px 5px 5px 0px;
    height: 100%;
    width: 60px;
    text-align: center;
}

.search-input{
    outline: none;
    width: 350px;
    padding: 0px 12px;
    border-radius: 5px 0px 0px 5px;
    height: 100%;
    vertical-align: middle;
}
.searchGroup.active{
    display: flex;
}
.fa-solid{
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
    
}
/* Header Ends here */

.section{
    display: flex;


}
/* Left Section starts here */
.left-section{
    background-color:var(--secondary-color2);
    flex: 2;
    height: 85vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 12px;
    overflow-y: scroll;
    
}

::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: rgb(105, 105, 105); 
  }
  ::-webkit-scrollbar-thumb {
    background:var(--primary-color); 
    border-radius: 5px;
  }
.card{
    flex: 1;
    height: auto;
    background-color:var(--secondary-color);
    margin: 6px;
    color:var( --text-color);
    display: flex;
    flex-direction: column;
    padding: 12px;
    justify-content: center;
    border-radius: 5px;
}
.thumbnail{
    width: 165px;
    height: 165px;
   overflow: hidden;
}

img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 5px;
}
.text-details{
    margin-top: 12px;
}
h2{
    font-size: 16px;
    margin-bottom: 12px;

}
.artist{
    font-size: 12px;
    margin-bottom: 14px;
    display: block;
}
button{
   font-size: 16px;
   padding: 3px 12px;
   border-radius: 5px;
   background:transparent;
   color:var( --text-color);
   border:1px solid var( --text-color);
   cursor: pointer;
   text-transform: uppercase;
   transition: 0.4s ease-in-out;

   
}
.playText{
    margin-left: 12px;
}
.playIcon{
    font-size: 12px;
}
.mainPlayIcon{
    font-size: 18px;  
}
button:hover{
    background-color:var(--primary-color);
    border:1px solid var(--primary-color);

}
/* Left Section Ends here */

/* right Section starts here */
.right-section{
    background-color: var(--secondary-color);
    flex: 1;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var( --text-color);

}
.L-header{
    text-align: center;
    margin-bottom: 12px;
}
.right-wrapper{
    width: 350px;
    height: auto;
    padding: 24px 18px 30px 18px;
    flex-direction: column;
    box-shadow: 2px 2px 8px 0px var(--secondary-color2);
    border-radius: 10px;
}

.L-head{
    /* margin-bottom: 25px; */
    font-size: 22px;
    text-transform: capitalize;

}
.L-artist{
    color: rgb(153, 153, 153);
}
.L-thumbnail{
    width: 300px;
    height: 300px;
    overflow: hidden;
}
.prograss-bar{
    width: 300px;
    height: 6px;
    background-color: #5a5a5a;
    margin-top: 24px;
    border-radius: 2px;
    cursor: pointer; 
   
}

.prograss{
    width: 0%;
    height: 100%;
    background-color:var(--primary-color);
    border-radius: 2px;
    position: relative;
    transition: 0.05s linear; 
}
.prograss::after{
    content:"";
    width: 10px;
    height: 10px;
    background-color:#9d3bfe;
    border-radius: 50%;
    position: absolute;
    right: -2px;
    top: -2px;
    transition: 0.4s ease-in-out;
    opacity: 0;

}
.right-section:hover .prograss::after{
    opacity: 1;
}
.controls{
    display: flex;
    justify-content: space-between;
    width: 150px;
    align-items: center;
  
    
}
.ctrl-btn{
    font-size: 16px;
    color:var( --text-color);
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.4s ease-in-out;
    background-color:var(--primary-color);
    border:1px solid var(--primary-color);
}

.controlBtn{
    border-radius: 25%;
    width: 20px;
    height: 20px;
    padding: 18px;
}



.timer{
    display: flex;
    justify-content: space-between;
    width: 300px;
    font-size: 12px;
    margin-top: 16px;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.select-icon{
    background-color:var(--primary-color);
    border: 1px solid var(--primary-color);
}

/* right Section Ends here */
.footer{
    height: 5vh;
    width:100%;
    background-color: var(--secondary-color);
    color: rgb(122, 122, 122);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}



/* Loading Page starts here */

.loadPage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color:rgb(21,21,21);
    display: flex;
    align-items: center;
    justify-content: center;
}
.loadWrapper{
    color: #fff;
    padding: 32px;
    width: 400px;
    height: 250px;
    text-align: center;
}
.loadImg{
    width: 100px;
    height: 100px;
    
}

.loadDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.loadTxt{
    font-size: 12px;
}
.startBtn{
    padding: 8px 36px 8px 42px;
    border-radius: 25px;
    
}
.rightArrow{
    margin-left: 6px;
}



.activeSong{
    background-color:var(--primary-color);
    border: none;
}













